#base-error {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .div-error {
    width: 100%;
    max-width: 800px;
    text-align: center;

    .div-btn-return {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .btn-return-bus,
      .btn-return-mini-bus {
        width: 100%;
        max-width: 300px;
        height: 100%;
        margin-top: 5px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
