<div id="base-error">
  <div class="div-error">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ busLineError }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <div class="div-btn-return">
      <button
        (click)="pageError('bus')"
        routerLinkActive="router-link-active"
        class="btn-return-bus btn"
      >
        <em class="fas fa-bus-alt"></em>
        Ônibus
      </button>
      <button (click)="pageError('mini-bus')" class="btn-return-mini-bus btn">
        <em class="fas fa-shuttle-van"></em>
        Lotação
      </button>
    </div>
  </div>
</div>
