<div id="container">
  <div class="error-template">
    <div class="info-error">
      <h2>Desculpe, página não encontrada!</h2>
      <img
        src="../../../../../assets/image/error.webp"
        alt="Error na Página"
        loading="lazy"
        width="300"
      />
      <h2>Error 404</h2>
    </div>
    <div class="error-actions">
      <button (click)="pageError('bus')" class="btn-error-bus btn">
        <em class="fas fa-bus-alt"></em>
        Ônibus
      </button>
      <button (click)="pageError('mini-bus')" class="btn-error-miniBus btn">
        <em class="fas fa-shuttle-van"></em>
        Lotação
      </button>
    </div>
  </div>
</div>
