#container-base {
  width: 100%;
  padding-top: 85px;

  .base-itinerary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .base-container-map {
      width: 100%;
      max-width: 65vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      .header-title-maps {
        width: 50%;
        display: flex;
        justify-content: space-between;

        .title-map {
          font-size: 25px;
          font-family: "foco", sans-serif;
          margin-right: 20px;
        }

        .itinerary-text {
          font-size: 18px;
          font-family: "foco", sans-serif;
          overflow: hidden;
          white-space: pre;
          text-overflow: ellipsis;
        }
      }

      .line-header {
        width: 60%;
        height: 1px;
        border-radius: 30px;
      }

      .div-map {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and(max-width: 1370px) {
          #maps {
            width: 120vh;
            margin-top: 30px;
            height: 60vh;
            border-radius: 20px;
          }
        }

        @media screen and(min-width: 1371px) {
          #maps {
            margin-top: 30px;
            width: 100%;
            height: 70vh;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
